<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Video List</title>
</head>
<body>
    <h2>Python Sessions</h2>
    <ul>
        {% for video in videos %}
        {%csrf_token%}
            <li><h2>{{video.title}}</h2><br>
                <a href="{{video.e_book.url}}">View E-book</a><br>
                <a href="{{video.video_file.url}}">watch video</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>