
{% extends "base.html"%}
{% load static %}
{% block title %} Register {% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="{% static 'image/l1.png' %}" alt="" width="65px" align="center"><h4>KNOWLEDGENEST</h4>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
        </div>
            <a href="{% url 'index' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"> <i class="fa fa-arrow-left ms-3" ></i>Back</a>
    </div>

</nav>
{% endblock %}
{% block body %}   
    {% if messages %}
        {% for c in messages%}
            <div class="alert alert-warning alert-dismissible fade show">
                {{c}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form%}
                                    {{field.label}}<br>
                                    {{field}}<br>
                                {% endfor %}
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" >Register</button>
                                </div>
                                    <center>Already an accounct <a href="http://127.0.0.1:8000/slogin/"> Login </a></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}